@use '../utilities' as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

/*
h1 desktop: 48px
h1 mobile: 32px;
header p : 15px
rating p : 13px;

base foz : 13px;
*/
